body {
  background-color: azure;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: aqua;
  color: black;
  text-align: center;
  letter-spacing: 2px;
}



.contact-section {
    padding: 3em;
  }

  .container-contact {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
  }

form input {
  border-radius: 6px;
  border-color: aquamarine;
}

form textarea {
  border-radius: 6px;
}